.cop2{
  padding: 2rem;
	display: flex;
	justify-content: center;
}

.contact-box{
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.19);
}

.right{
	padding: 70px 40px;
}

p{
  font-size: 18px;
}

h2{
	position: relative;
	padding: 0 0 8px;
	margin-bottom: 10px;
}

h2:after{
	content: '';
    position: absolute;
    left: 57%;
    bottom: 0;
    transform: translateX(-60%);
    height: 5px;
    width: 55%;
    border-radius: 2px;
    background-color:maroon;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
}

.btn3{ 
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: maroon;
	color: #fff;
	font-size: 1.1rem;
	cursor: pointer;
	transition: .3s;
}

.left img{
	width: 100%;
}